ion-card {
    margin-top: 105px;
    width: 170px;
    box-shadow: none;
    border: 1px solid rgb(245, 245, 245);
}

.backdrop {
    height: 54px;
    display: flex;
    background-color: rgb(255, 255, 255);
    .background-one {
        background-color:rgb(24, 127, 41);
        width: 170px;
        height: 170%;
    }
    .background-two {
        background-color: rgb(202, 92, 19);
        width: 45px;
        height: 170%;
    }
}

ion-card-header {
    margin-top: -54px;
    ion-avatar {
        width: 72px;
        height: 72px;
        margin: auto;
    }
}

.user-profile-image {
    width: 68px;
    height: 68px;
    margin: auto;
    color:rgb(20, 134, 215)
}
