:host{
    justify-content: start;
}

.content-container {
    display: flex;
    width: 1128px;
    margin: 40px auto 0;
}

app-pet-log {
    width: 200px;
}
app-calendar {
    justify-content: right;
    margin-left: 470px;
}